{% load crispy_forms_tags %}
<script data-status-code="{{ status_code }}">
    const data = document.currentScript.dataset;
    const statusCode = parseInt(data.statusCode);
    console.log(statusCode);
    let manage = () => {
        let buttonTest = document.getElementById('btTestScript');
        if (statusCode === 0) {
            console.log("That script can go on");
        }
        else {
            console.log("Halt the script");
        }
        console.log("Someone clicked the button!");
    }
</script>
<div class="container" id="step_result">
    <h1>Script Status </h1>
    <h2>{{ message }}</h2>
    <p>
        <strong>Status code:</strong><em> {{ status_code }}</em>
    </p>
    <p><strong>stdout:</strong> </p>
    <p class="text-monospace">{{ stdout }}</p>
    </p>
    <p><strong>stderr:</strong> </p>
    <p class="text-monospace">{{ stderr }}</p>
    </p>
</div>
