{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    var require = {
        paths: {
            'vs': "{% static 'js/node_modules/monaco-editor/min/vs' %}",
        }
    };
</script>
<script src="{% static 'js/node_modules/monaco-editor/min/vs/loader.js' %}" ></script>
<script>
    require(['vs/editor/editor.main'], () => {
        // Initialize the editor
        const editor = monaco.editor.create(document.getElementById("Content"), {
            theme: 'vs-dark',
            model: monaco.editor.createModel("print('Hellow Django')", "python"),
            wordWrap: 'on',
            automaticLayout: true,
            minimap: {
                enabled: false
            },
            scrollbar: {
                vertical: 'auto'
            }
        });
    });
</script>
  <h1>{{ script.name }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="Content">Content</label>
        <div id="Content" style="min-height: 600px"></div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}