<script defer>
  console.log("monaco.js");
  let model = `{% if widget.value != None %}{{ widget.value | escapejs }}{% endif %}`;
  let id = "id_{{ widget.name }}";
  let monacoEditor = monaco.editor.create(document.getElementById(id), {
    model: monaco.editor.createModel(model),
    theme: "vs-dark",
    wordWrap: "on",
    automaticLayout: true,
    minimap: {
      enabled: false,
    },
    scrollbar: {
      vertical: "auto",
    },
    language: "",
  });

  const forms = document.getElementsByTagName("form");
  for (let index = 0; index < forms.length; index++) {
    const element = forms[index];
    element.addEventListener("formdata", (e) => {
      e.formData.append("script", monacoEditor.getModel().getValue());
    });
  }

  const selectedLanguage = (lang) => {
    monaco.editor.setModelLanguage(monacoEditor.getModel(), lang);
  };
  selectedLanguage(document.getElementById("id_language").value);
</script>

<!-- TODO: This CSS is very hackish, we *may* want to change it -->
<div
  id="id_{{ widget.name }}"
  name="{{ widget.name }}"
  style="height: 30em"
  class="is-invalid"
></div>
