<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.22.3/min/vs/loader.js"></script>
<script>
    require.config({ paths: { 'vs': 'https://cdn.jsdelivr.net/npm/monaco-editor@0.22.3/min/vs' } });
    require(['vs/editor/editor.main'], () => {
        // Initialize the editor
        // TODO: make it so it works with multiple fields on the same page (?)
        const editor = monaco.editor.create(document.getElementById("monaco_editor"), {
            theme: 'vs-dark',
            model: monaco.editor.createModel(`{% if widget.value != None %}{{ widget.value | escapejs }}{% endif %}`, "python"),
            wordWrap: 'on',
            automaticLayout: true,
            minimap: {
                enabled: false
            },
            scrollbar: {
                vertical: 'auto'
            }
        });

        // TODO: this is all hardcoded, probably should change this
        const form = document.getElementsByTagName('form')[0];
        form.addEventListener("formdata", e => {
            e.formData.append('script', editor.getModel().getValue());
        });

    });
</script>

<!-- TODO: This CSS is very hackish, we need to change it -->
<div id="monaco_editor" name="script" style="height: 30em;"></div>
