{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form_pipeline|crispy }}
        {{ form_datainterface|crispy }}
        <div class="row pt-4">
            <div class="col">
                <a href="{% url 'projects:list_pipeline' current_project.pk %}"><button type="button"
                        class="btn btn-danger">Cancel</button></a>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-info"
                    hx-post="{% url 'projects:test_connection' current_project.pk %}"
                    hx-headers='{"X-CSRFToken": "{% csrf_token %}"}' hx-target="#result"
                    hx-include="[name='data_interface-connection_string']">
                    Test Pipeline Input
                </button>
            </div>
            <div class="col">
                <div class="control-group">
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <section class="pt-5 text-center">
        <p id="result"><em>Awaiting interaction...</em></p>
    </section>
</div>
{% endblock content %}
