{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form_pipeline|crispy }}
        {{ form_datainterface|crispy }}
        <div class="control-group">
            <div class="d-flex flex-row-reverse pt-3">
                <button type="submit" class="btn btn-primary">Create Pipeline</button>
            </div>
        </div>
    </form>
    <!-- TODO: Put this button to the left!!!! -->
    <div class="d-flex flex-row-reverse pt-3">
        <a href="{% url 'projects:pipeline_list' current_project.pk %}"><button
                class="btn btn-danger">Cancel</button></a>
    </div>
</div>
{% endblock content %}