{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form_step|crispy }}
        <div class="row pt-3">
            <div class="col">
                <!-- <a href="{% url 'projects:new_pipeline' project.pk %}"> -->
                <button type="button" name="cancel" class="btn btn-danger">Back</button>
                <!-- </a> -->
            </div>
            <div class="col">
                <div class="control-group">
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" name="save" class="btn btn-primary">Create Pipeline</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</form>
</div>
{% endblock content %}
