{% extends "base.html" %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<div class="d-flex flex-row-reverse pt-3">
    <a href="#"><button type="submit" class="btn btn-primary"> Add Pipeline </button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope=" col">Name</th>
            <th scope="col">Input type</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for pipeline in pipeline_list %}
        <tr>
            <th scope="row">{{ pipeline.name }}</th>
            {%if pipeline.input %}
            <td>{{ pipeline.input.interface_type }}</td>
            {% else %}
            <td><i>No data interface attached</i></td>
            {% endif %}
            <td>
                <a href="#"> <i class="fas fa-edit"></i></a>
                <a href="#"> <i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
